/* ESTILOS DE INDEX -- HEADER */

body {
    margin: 0;
    font-family: 'Inria Serif', serif;
}


header {

    opacity: 1;
    color: #fff;
    padding: 20px 0;
}

.containerTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}


img {
    max-width: 100%;
    height: auto;
    justify-content: center;
}


h1 {
    margin: 0;
}

.logoStyle {
    margin-left: 5px;
}



/* ESTILOS SECTION CREAR CUENTA */




.mainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 10vh;

}

.custom-btn-width {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-weight: bold;
}



/* ESTILOS DE TEXTO MAIN EN SECTION CREAR CUENTA */



.mainText {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 150px;
    margin-top: 40px;
    color: #fff;
    font-weight: 800;
    font-size: 22px;
}


.mainP {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}


/* ESTILOS DE ZONA DE USUARIO */

.userZone {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonFormMain {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* ESTILOS DEL BOTON INGRESO ADMIN */


.divAdmin {
    display: flex;
    justify-content: center;
    text-align: center;
}



/* ESTILOS DE OPCIONES ADICIONALES */


.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}


.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label-index {
    margin-bottom: 150px;
}


input[type="checkbox"] {
    margin-right: 5px;

}


.btn {
    margin-top: 10px;
}


/* REGISTRO DE USUARIOS */

.tituloRegistro {

    margin-bottom: 55px;
    background: #000;
    color: white;
    border-radius: 150px;
    border: 2px solid white;
    font-size: 35px;



}

.containerRegistro {

    text-align: center;
}

.back-link {
    margin-bottom: 20px;
}

.form-control {
    background-color: #CCC;
    text-align: center;

}


/* ESTILOS DEL USER AREA HEADER */

.userHeader {
    background-color: black;


}


/* ESTILOS DEL USER AREA */


.UserAreaSectionText {

    margin-bottom: 100px;
    margin-top: 100px;

}


/* Estilos de titulo */

.titleSection {
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 40px;

}

.titleSection>div {
    margin-bottom: 40px;
}


video {
    margin-left: 10%;
    width: 80%;
    height: 300px;
    margin-top: 20px;
}

.tittleUserArea {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

.TextCotizacion {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 300px;
    font-size: 60px;
    background: whitesmoke;
    color: black;
    border-radius: 35px;
    width: 80%;
    margin-left: 10%;
    padding: 20px;
}


/* ESTILOS TIMER ESTATICO */


.timerEstatico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.tituloEstatico {
    margin-bottom: 60px;
}






/* Estilos timer */


.timerStyle {
    font-family: 'Arial', sans-serif;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    height: 35vh;
    background-color: #fff;
    color: #000;
}

.timerAcreditacion {

    justify-content: center;
    text-align: center;


}


.timer-container {
    text-align: center;
}


.countdown {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos hr */

.custom-hr {
    height: 3px;
    /* Ajusta el grosor de la línea aquí */
    background-color: black;
    /* Puedes cambiar el color aquí */
    border: none;
    border-radius: 5px;
    /* Bordes redondeados */
    width: 90%;
    /* Ocupa el 90% de la pantalla */
    margin: 60px auto;

}


/* SECCION DE COTIZACION CRYPTO */


.sectionCrypto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containerCrypto {
    background: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    width: 90%;

}

.containerCrypto .coin-price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;


}

.containerCrypto .coin-prive .log {
    width: 70px;
    margin-right: 10px;
}

.containerCrypto .coin-price div {
    display: flex;
}

.log img {
    max-width: 60px;
    /* Puedes ajustar el tamaño máximo del logo según tus preferencias */
    margin-right: 2px;

}

.img-responsive {
    max-width: 100%;
    height: auto;
}



/* ESTILOS DEL USER CONSULTANT */


.sectionAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    flex-direction: column;
    margin-top: 80px;


}

.sectionAdminDos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    margin-top: 80px;

}

.app {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;

}

.inputQR {
    width: 250px;
    outline: 0;
    border: 1px #ccc solid;
    border-radius: 3px;
    padding: 5px;
    transition: all .5 ease-in-out;
}

.inputQR:focus {
    border: 1px royalblue solid;
}

#btnQR {
    margin-top: 1rem;
    width: 200px;
    background-color: seagreen;
    color: white;
    padding: 5px;
    border-radius: 3px;
    outline: 0;
    border: 0;
    transition: all .5 ease-in-out;
    cursor: pointer;
}

#btnQR:hover {
    opacity: 85%;
}

.qrcode {
    margin-left: 40%;
    margin-top: 5rem;
    width: 228px;
    height: 228px;
}


/* ESTILOS DE TEXTO ULTIMO VIDEO */

.titleSectionDos {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: whitesmoke;
    margin-bottom: 50px;
    border-radius: 150px;
}






/* ESTILOS DE VIDEOS */

.videoStyle {
    background-color: black;
    border-radius: 60px;
    border: 3px #ccc solid;
}

.walletStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 120px;
}

.walletStyleImg {

    width: 20%;
    flex-direction: column;
    margin-top: 50px;

}



@media (max-width: 768px) {

    .button-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30vh;
    }

    .containerCrypto {
        flex-direction: column;
        /* Cambia la dirección de flexión a columna en pantallas más pequeñas */
        align-items: stretch;
        /* Asegura que los elementos se estiren para llenar el contenedor */
    }

    .containerCrypto .coin-price {
        flex-direction: column;
        text-align: center;
        /* Centra el texto cuando está en columna */
        padding: 5px;
    }

    .containerCrypto .coin-price .log {
        margin-right: 0;
        /* Elimina el margen derecho cuando está en columna */
        margin-bottom: 10px;
        /* Añade margen inferior para separar el logo del texto */
    }

    .log img {
        max-width: 90%;
        margin-right: 0;
    }

    .img-responsive {
        max-width: 50%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 5px;
    }

    .TextCotizacion {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        margin-top: 200px;
        font-size: 60px;
        background: whitesmoke;
        color: black;
        border-radius: 35px;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 50px;
    }

    .sectionCrypto {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
}